body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif !important;
}

/* Estilos para el contenedor principal */
#principal {
    background-color: #0475B3;
    padding: 10px;
    margin: 30px 30px 0 30px; /* Centrado automático */
    border-radius: 20px;
    font-family: 'Bakbak One', sans-serif; /* Agregada una fuente de respaldo */
    font-size: 5vw; /* Usar vw para mejor escalabilidad */
    text-align: center;
    color: #F5F5F5;
    z-index: 1;

}

.principal{

    padding: 10px;
    margin: 30px 30px 0 30px; /* Centrado automático */
    font-family: 'Bakbak One', sans-serif; /* Agregada una fuente de respaldo */
    font-size: 5vw; /* Usar vw para mejor escalabilidad */
    
}

/* Estilos para el logo */
#logo {
    width: 100px;
}

nav {
    background-color: #098DD6;
    border-radius: 20px;
    margin: auto;
    width: 80%;
    padding: 10px;
    font-family: 'Bakbak One', sans-serif; /* Agregada una fuente de respaldo */
    font-size: 2.5rem; /* Usar rem para mejor escalabilidad */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 10%;
    top: 22%; /* Ajustar este valor para acercar el nav al header */
    vertical-align: middle;
    align-items: center;
    justify-items: auto;
    text-align: center;
    font-style: none;
    
}

nav a { /* Suponiendo que los elementos de navegación son enlaces */
    color: #FFEC89 !important;
    margin: 0 15px; /* Espaciado horizontal entre los elementos */
    vertical-align: middle;
    width: 100%;
    margin: 40px 40px 30px 30px;
    text-decoration: none;  
}

/* Estilos para la sección */

section {
    background-color: #F0F0F0;
    border-radius: 20px;
    margin: 0; /* Eliminar márgenes para evitar desplazamientos */
    padding: 50px;
    max-width: 80%;
    width: 50% ;/* Cambiado a max-width para ser más responsivo */
    height: auto; /* Cambiado a auto para que se ajuste al contenido */
    position: relative; /* Cambiar a posición relativa */
    margin: 60px auto; /* Centrar la sección verticalmente */
}

.content {
    align-items: center; /* Centrar verticalmente el contenido */
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    display: flex;
    flex-direction: row;
    
}

.about-image {
    border-radius: 20px;
    max-width: 50%; /* Cambiar a 100% para ser responsivo */
    height: auto; /* Mantener la proporción de la imagen */
    margin-left: 5%; /* Espacio entre el texto y la imagen */
    width: 40%;
}

.contact-button {

    background-color: #FFEC89; /* Color de fondo amarillo */
    color: #0475B3; /* Color del texto azul */
    width: 100%; /* Ancho del botón al 100% */
    max-width: 236px; /* Ancho máximo del botón */
    height: 59px; /* Altura del botón */
    border: none;
    border-radius: 20px; /* Bordes redondeados (opcional) */
    font-size: 1.5rem; /* Tamaño de la fuente (ajusta según sea necesario) */
    margin-top: 3%;
    margin-left: 7%;
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.contact-button:hover {
    background-color: #FFEC89; /* Color de fondo al pasar el ratón (opcional) */
}

p {
    font-family: 'Lato', sans-serif; /* Aplicar la fuente Lato */
    font-weight: 800; /* Extra Bold */
    font-size: 20px; /* Tamaño de la fuente */
    color: #0475B3; /* Color del texto */
}

@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        align-items: center;
    }

    .content {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    }

    .about-image {
        width: 90%; /* Aumentar el ancho de la imagen en pantallas pequeñas */
        margin-left: 0; /* Eliminar margen izquierdo */
    }

    h2 {
        font-size: 30px; /* Reducir tamaño de fuente en pantallas pequeñas */
    }

    p {
        font-size: 18px; /* Reducir tamaño de fuente en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    #principal {
        font-size: 4vw; /* Ajustar tamaño de fuente en pantallas muy pequeñas */
    }

    nav {
        font-size: 2rem; /* Reducir tamaño de fuente en pantallas muy pequeñas */
    }

    .contact-button {
        font-size: 1.2rem; /* Ajustar tamaño de fuente del botón */
    }
}

h2, .imagen1 h1, .imagen2 h1, .imagen3 h1 {
    font-family: 'Archivo Black', sans-serif; /* Aplicar la fuente Archivo Black */
    color: #0475B3 !important; /* Color del texto */
    text-align: center; /* Centrar el texto */
    font-size: 40px !important;
}

/* Estilos para el footer */
footer {
    background-color: #0475B3;
    position: relative; /* Cambiar a posición relativa */
    margin: 20px auto; /* Centrar el footer */
    border-radius: 20px;
    width: 90%;
    padding: 20px;}

.imagen1{
    background-color: #F0F0F0;
    border-radius: 20px;
    margin: 0; /* Eliminar márgenes para evitar desplazamientos */
    padding: 25px;
    max-width: auto;
    width: 30% ;/* Cambiado a max-width para ser más responsivo */
    height: auto; /* Cambiado a auto para que se ajuste al contenido */
    margin: auto; /* Centrar la sección verticalmente */
    margin-top: 3%;
    margin-left: 10%;
}

.imagen2{

    background-color: #F0F0F0;
    border-radius: 20px;
    margin: 0; /* Eliminar márgenes para evitar desplazamientos */
    padding: 25px;
    max-width: auto;
    width: 30% ;/* Cambiado a max-width para ser más responsivo */
    height: auto; /* Cambiado a auto para que se ajuste al contenido */
    margin: 40px; /* Centrar la sección verticalmente */
    margin-top: 3%;

}

.imagen3{

    background-color: #F0F0F0;
    border-radius: 20px;
    margin: 0; /* Eliminar márgenes para evitar desplazamientos */
    padding: 25px;
    max-width: auto;
    width: 30% ;/* Cambiado a max-width para ser más responsivo */
    height: auto; /* Cambiado a auto para que se ajuste al contenido */
    margin: auto; /* Centrar la sección verticalmente */
    margin-top: 3%;
    margin-right: 10%;

}

.productos {

    display: flex;
    flex-direction: row;

}

@media (max-width: 768px) {

    .imagen1, .imagen2, .imagen3 {

        flex: 1 1 45%;

    }

}

@media (max-width: 480px) {

    .imagen1, .imagen2, .imagen3 {

        flex: 1 1 100%;

    }

    .productos {

        display: flex;
        flex-direction: column;

    }

}

section.imagen1 h1,section.imagen2 h1,section.imagen3 h1{

color: #0475B3;
font-family: 'Bakbak One', sans-serif;

}


img.bebidas{

border-radius: 20px;
width: 90%;
height: 90%;

}

section.titulos{

    background-color: #F0F0F0;
    border-radius: 20px;
    margin: 0; /* Eliminar márgenes para evitar desplazamientos */
    padding: auto;
    max-width: auto;
    width: 20% ;/* Cambiado a max-width para ser más responsivo */
    height: auto; /* Cambiado a auto para que se ajuste al contenido */
    position: relative; /* Cambiar a posición relativa */
    margin: 60px auto; /* Centrar la sección verticalmente */

}

li{

list-style: none;
display: inline;


}

.foot{

    background-color: #0475B3;
    font-family: 'Bakbak One', sans-serif; /* Agregada una fuente de respaldo */
    font-size: 2vw; /* Usar vw para mejor escalabilidad */
    text-align: center;
    color: #F5F5F5;
}

.portafolio{

margin: auto;
margin-top: 3%;
background-color: #F0F0F0;
width: 80%;
border-radius: 20px;
padding: 30px;
margin-bottom: 3%;
}

.container-grande{

display: flex;
flex-direction: row;

}

.container-peque1{

background-color: #F0F0F0;
width: 20%;
border-radius: 20px;
margin: auto;
padding: 30px;
align-items: center;
margin-left: 10%;
margin-bottom: 3%;

}

.container-peque2{

background-color: #F0F0F0;   
width: 20%;  
border-radius: 20px;
margin: auto;
padding: 30px;
margin-bottom: 3%;
 
}

.container-peque3{

background-color: #F0F0F0;
width: 20%;
border-radius: 20px;
margin: auto;
padding: 30px;
margin-right: 10%;
margin-bottom: 3%;

}

.vermas{

    background-color: #FFEC89; /* Color de fondo amarillo */
    color: #0475B3; /* Color del texto azul */
    width: 50%; /* Ancho del botón */
    height: auto; /* Altura automática */
    border: none;
    border-radius: 10px; /* Bordes redondeados (opcional) */
    font-size: 1.5rem; /* Tamaño de la fuente (ajusta según sea necesario) */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
    margin: auto; /* Centrar el botón en su contenedor */
    display: flex; /* Habilitar flexbox para centrar el texto */
    justify-content: center; /* Centrar el texto horizontalmente */
    align-items: center; /* Centrar el texto verticalmente */
    padding: 10px; /* Espaciado interno para el botón */

}







#cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background:#0475B3;
   
    padding: 15px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
  }

  #cookie-banner p {
    margin: 0;
    font-size: 14px;
    color: #F5F5F5;
  }

  #cookie-banner a {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
  }

  #cookie-banner a:hover {
    color: #fce15b;
    text-decoration: underline;
    font-weight: bold;
  }

  #cookie-banner button {
    background-color: #fce15b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #cookie-banner button:hover {
    background-color: #FFEC89;
  }






  .gota{
    margin-top: 3%;
    margin-left: 3%;
    background-color: #0475B3;
    width: 8%; /* Aumenta el ancho para que haya más espacio */
    border-radius: 20px;
    display: flex; /* Habilitar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 20%; /* Ajusta la altura según sea necesario */
  }

 .logo {
    
    margin: auto;
    width: 90%; /* Asegúrate de que el logo no exceda el 100% del contenedor */
    max-width: 100px; /* O establece un ancho máximo si es necesario */

 }

 .contacto{

    background-color: #0475B3;
    width: 50%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 50px;
    border-radius: 20px;

 }

 .contacto h1{
    color: #F0F0F0;
    font-family: 'Bakbak One', sans-serif;
    text-align: center;
    font-size: 3vw;
 }

 input{

width: 100%;
border-radius: 10px;

 }

.checkbox{

width: auto;

 }

 label{

    color: #FFEC89;
    border: none;
 }

 label a{

color: #FFEC89;

 }

.enviar {
    background-color: #FFEC89; /* Color de fondo amarillo */
    color: #0475B3; /* Color del texto azul */
    width: 30%; /* Ancho del botón */
    height: auto; /* Altura automática */
    border: none;
    border-radius: 10px; /* Bordes redondeados (opcional) */
    font-size: 1.5rem; /* Tamaño de la fuente (ajusta según sea necesario) */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
    margin: auto; /* Centrar el botón en su contenedor */
    display: flex; /* Habilitar flexbox para centrar el texto */
    justify-content: center; /* Centrar el texto horizontalmente */
    align-items: center; /* Centrar el texto verticalmente */
    padding: 10px; /* Espaciado interno para el botón */
}







.fila1, .fila2, .fila3 {


    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
 }
 
 
 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: arial;
    width: 100%;
    flex: 1 1 30%;
    margin: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
 
 
 .text {
 
 
    padding: 32px;
 
 
 }

.card button {
    background-color: #FFEC89; /* Color de fondo amarillo */
    color: #0475B3; /* Color del texto azul */
    width: 50%; /* Ancho del botón */
    height: auto; /* Altura automática */
    border: none;
    border-radius: 10px; /* Bordes redondeados (opcional) */
    font-size: 1.5rem; /* Tamaño de la fuente (ajusta según sea necesario) */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
    margin: auto; /* Centrar el botón en su contenedor */
    display: flex; /* Habilitar flexbox para centrar el texto */
    justify-content: center; /* Centrar el texto horizontalmente */
    align-items: center; /* Centrar el texto verticalmente */
    padding: 10px; /* Espaciado interno para el botón */
  }
   .card button:hover {
    opacity: 0.7;
  }
 
 
 .card h1 {

    color: #0475B3;
    font-family: 'Bakbak One', sans-serif;
    font-size: 40px;
 
 
 }

 
 
 .fila1, .fila2, .fila3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
 }
 
 
 @media (max-width: 768px) {
  .card {
      flex: 1 1 45%;
  }
  .productesdiv h1 {
 
 
    font-size: 100px;
 
 
  }
 }
 
 
 @media (max-width: 480px) {
  .card {
      flex: 1 1 100%;
  }
  .productesdiv h1 {
 
 
    font-size: 100px;
 
 
  }
 }

 .total {

    width: 100%;

 }
 
 
 .imgdiv {
 
 
  margin-bottom: auto;
  height: auto;
 
 
 }
 
 .imgdiv img {
 
 
  width: 50%;
 
 
 }

 
